extends ../layouts/main.pug

block content
  .error
    h1 Error #{statusCode}
    p= message

    if stack
      .error-details
        h3 Error Details:
        pre= stack

    .actions
      a(href="/api/v1/pages") Back to Pages
