extends ../layouts/main.pug

block content
  .error
    h1 Error #{statusCode}
    p= message
    
    if stack
      .error-details
        h3 Error Details:
        pre= stack
    
    .actions
      a(href="/frontend/pages") Back to Pages